:root{
  --principal-color: #FFA500;
  --secondary-dark: #2467F1;
  --secondary-light: #2CA6D4;
  --light: #E8E8E8;
  --dark: #212121;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    list-style: none;
    text-decoration: none;
}

.Home body {
    background-color: var(--light);
    color: black;
}

.Home .lista {
    display: flex;
  }
  
  .Home .lista a {
    font-size: 40px;
    color: var(--principal-color);
    margin-left: 50px;
    font-weight: 700;
    transition: all 0.55s ease-in-out;
    border-bottom: transparent;
    justify-content: center;
  }

  .Home .Principal {
    font-size: calc(3vmax + 20px);
    font-weight: 1000;
    color: var(--principal-color);
  }

  .Home button{
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .Home #tema {
    width: 40px;
  }

.Home #aHover:hover{
  background-color: rgb(232, 232, 232);
  box-shadow: 15px 15px 20px -15px var(--principal-color);    
  border: 1px solid var(--principal-color)
}

.Home header {
    background-color: var(--light);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    filter: drop-shadow(0px 3px 10px var(--dark));
  }

  .Home #icone {
  width: calc(3vmax + 20px);
  height: auto;
}

.Home .Main {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  justify-content: center;
  margin-top: calc(4vmax + 70px);
  padding: 10vh;
  height: 100vh;
}

.Home .Main h1 {
  font-size: calc(4.5vmax + 30px);
  text-align: center;
}

.Home #IOOON{
  color: var(--secondary-light)
}

.Home #Airlines{
  color: var(--secondary-dark)
}

.Home .Main p{
  font-size: calc(1.5vmax + 9px);
}

.Home #ImagemCentral{
  margin-left:  10vw;
  width: calc(25vmax + 100px);
}

.Home #seta {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 60px;
  background-color: var(--secondary-dark);
  border-radius: 40px;
  transition: all 0.5s ease-in-out;
}

.Home #seta:hover{
  cursor: pointer;
  transform: translateY(20px);
}

.Home .ContainerGeral {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Home .card {
  width: calc(20vmax + 100px);
  height: calc(15vmax + 80px);
  background-color: var(--dark);
  border-radius: 1vmax;
  border: 2px solid;
  margin-top: 20px;
}

.Home .card p {
  color: white;
  font-size: calc(1vmax + 7.5px);
  background-color: rgb(33, 33, 33, 0.8);
  bottom: 0;
  border-radius: calc(1vmax - 2px) calc(1vmax - 2px) 0px 0px;
  padding: 10px
}

.Home .Imagem {
  height: 100%;
  border-radius: calc(1vmax - 2px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Home #Imagem1 {
  background-image: url("../assets/Verão.jpeg");
}

.Home #Imagem2 {
  background-image: url("../assets/Tempestade.jpg");
}

.Home #Imagem3 {
  background-image: url("../assets/RioJaneiro.jpg");
}

.Home footer {
  background-color: var(--principal-color);
  color: var(--secondary-dark);
  font-size: calc(0.5vmax + 10px);
  display: flex;
  padding: 5px 40px 5px 40px;
  width: 100%;
}

.Home footer a {
  color: var(--secondary-light);
}

.Home #creditos {
  position: absolute;
  right: 40px;
}
.Home #Noticias {
  box-shadow: 0px 2px 10px var(--dark);
  text-align: center;
}

.Home #titulo {
  font-size: calc(2vmax + 12px);
}

#logout img{
  width: 20px;
}

#logout{
  position: fixed;
  padding: 0.5%;
  left: 5%;
  bottom: 5%;
  border-radius: 50%;
  background-color: #2467F1;
  display: flex;
  align-items: center;
}



.Dark-theme, .Dark-theme header {
  background-color: var(--dark);
  color: white;
}

.Dark-theme header {
  filter: drop-shadow(0px 3px 10px var(--light));
}

.Dark-theme #Noticias {
  box-shadow: 0px 2px 10px var(--light);
}

.Dark-theme  #aHover:hover{
  background-color: rgb(32, 32, 32);
  box-shadow: 15px 15px 20px -15px var(--principal-color);    
}

#IconeMenu {
  width: 50px;
  z-index: 11;
  cursor: pointer;
  display: none;
}

@media (max-width: 1040px) {
  #IconeMenu {
    display: block;
  }
  #seta {
    display: none;
  }
  .lista {
    position: absolute;
    top: 100%;
    right: -120%;
    width: 300px;
    height: 40vh;
    display: flex;
    padding: 50px 20px;
    flex-direction: column;
    align-items: center;
    background: var(--light);
    transition: all 0.55s ease;
  }
  .Dark-theme .lista{
    background: var(--dark);
  }
  .lista a,
  .lista button {
    margin-left: 0;
    display: block;
    margin: 5px 0;
  }
  .lista.open {
    right: 0;
    height: 300px;
    width: 200px;
    border-radius: 30px;
    border: solid 2px var(--secondary-light);
    filter: drop-shadow(2px 2px 10px var(--secondary-light));
  }
  .Main {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
  #ImagemCentral {
    margin: auto;
  }
}