.voltar {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: var(--principal-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
    z-index: 1;
}

.voltar svg {
    color: var(--light);
}

.Cadastro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Cadastro fieldset {
    border: none;
    padding: 0;
}

.Cadastro legend {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.divDados {
    display: flex;
    flex-direction: column;
}

.divDados label {
    text-align: start;
    margin-bottom: 5px;
}

.divDados input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.divDados input[type="submit"],
.divDados input[type="reset"] {
    width: 100px;
    border: none;
    color: #fff;
    background-color: var(--principal-color);
    cursor: pointer;
}

.divDados input[type="reset"] {
    background-color: var(--secondary-dark)
}

.divDados a {
    text-decoration: none;
    color: var(--principal-color);
}

.divDados a:hover {
    text-decoration: underline;
}

.botõesForm{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#error{
    color: red;
}

body.Dark-theme {
    background-color: var(--dark);
    color: var(--light);
}

body.Dark-theme .Cadastro {
    background-color: #333333;
}

body.Dark-theme input {
    background-color: #333333;
    color: var(--light);
}

body.Dark-theme input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

@media (max-width: 750px) {
    .Cadastro{
        height: 100vh;
    }
    .voltar{
        top: 2%;
        left: 1%;
        width: 40px;
        height: 40px;
    }
}