:root{
  --principal-color: #FFA500;
  --secondary-dark: #2467F1;
  --secondary-light: #2CA6D4;
  --light: #E8E8E8;
  --dark: #212121;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--light);
    color: black;
    text-align: center;
}

.lista {
    display: flex;
    align-items: center;
    line-height: 1;
  }

  #buttonTema {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .lista li a{
    display: flex;
    align-items: center;
  }
  
  .lista a {
    font-size: 30px;
    color: var(--principal-color);
    margin-left: 50px;
    font-weight: 700;
    transition: all 0.55s ease-in-out;
    border-bottom: transparent;
    justify-content: center;
  }

  .Principal {
    display: flex;
    align-items: center;
    font-size: calc(2vmax + 15px);
    font-weight: 1000;
    color: var(--principal-color);
  }

  button{
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  #tema {
    width: 30px;
    margin-left: 50px;
  }

.Home #aHover:hover{
  transition: text-shadow 0.2s ease-in-out;
  text-shadow: 0 3px 8px rgb(255, 165, 0, 0.5); 
}

header {
    background-color: var(--light);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    filter: drop-shadow(0px 3px 10px var(--dark));
  }

  #icone {
  width: calc(2vmax + 15px);
  height: auto;
  margin-right: 10px;
}

.Home .Main {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  justify-content: center;
  margin-top: calc(4vmax + 70px);
  padding: 0px 10vh;
  margin-bottom: 7vh;
  height: calc(83vh - 20px);
  align-items: center;
  position: relative;
}

.Home .Main h1 {
  font-size: calc(4.5vmax + 30px);
  text-align: center;
}

.Home #IOOON{
  color: var(--secondary-light)
}

.Home #Airlines{
  color: var(--secondary-dark)
}

.Home .Main p{
  font-size: calc(1.5vmax + 9px);
}

.Home #ImagemCentral{
  margin-left:  10vw;
  width: calc(25vmax + 100px);
}

#logout {
  position: fixed;
  right: 3%;
  bottom: 5%;
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: var(--secondary-dark);
  border-radius: 100%;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#logout img{
  width: 25px;
}

.Home .ContainerGeral {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Home .card {
  width: calc(20vmax + 100px);
  height: calc(15vmax + 80px);
  border-radius: 1vmax;
  border: 2px solid;
  margin-top: 20px;
}

.Home .card p {
  color: white;
  font-size: calc(1vmax + 7.5px);
  background-color: rgb(33, 33, 33, 0.8);
  bottom: 0;
  border-radius: calc(1vmax - 2px) calc(1vmax - 2px) 0px 0px;
  padding: 10px
}

.Home .Imagem {
  height: 100%;
  border-radius: calc(1vmax - 2px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Home #Imagem1 {
  background-image: url("../assets/Verão.jpeg");
}

.Home #Imagem2 {
  background-image: url("../assets/Tempestade.jpg");
}

.Home #Imagem3 {
  background-image: url("../assets/RioJaneiro.jpg");
}

footer {
  background-color: var(--principal-color);
  color: var(--secondary-dark);
  font-size: calc(0.5vmax + 10px);
  display: flex;
  padding: 5px 40px 5px 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  color: var(--secondary-light);
}

#creditos {
  position: absolute;
  right: 40px;
}
.Home #Noticias {
  box-shadow: 0px 2px 10px var(--dark);
  text-align: center;
}

.Home #titulo {
  font-size: calc(2vmax + 12px);
}

.popupSair{
  width: 40%;
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: var(--light);
  transform: translate(-50%, -50%);
  color: var(--dark);
  border-radius: 10px;
  border: 2px solid var(--dark);
  padding: 2% 2% 3% 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
  z-index: 999;
}

.popupSair button{
  background-color: var(--principal-color);
  font-family: Dosis, sans-serif;
  color: var(--light);
  width: 40%;
  height: 50px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: calc(1vmax + 15px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.popupSair button:hover{
  background-color: #c08b28;
}

.popupSair button:active{
  background-color: #aa7d2a;
}

.popupSair h1{
  width: 100%;
}

.Dark-theme .popupSair{
  background-color: var(--dark);
  border: var(--light);
  color: var(--light);
  border: 2px solid var(--light);
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
}

.Dark-theme .popupSair button{
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.405);
}

.Dark-theme, .Dark-theme header {
  background-color: var(--dark);
  color: white;
}

.Dark-theme header {
  filter: drop-shadow(0px 3px 10px var(--light));
}

.Dark-theme #Noticias {
  box-shadow: 0px 2px 10px var(--light);
}

#IconeMenu {
  width: 50px;
  z-index: 11;
  cursor: pointer;
  display: none;
}

@media (max-width: 1040px) {
  #IconeMenu {
    display: block;
  }
  .popupSair{
    width: 80%;
  }
  .lista {
    position: absolute;
    top: 100%;
    right: -120%;
    width: 300px;
    height: 40vh;
    display: flex;
    padding: 50px 20px;
    flex-direction: column;
    align-items: center;
    background: var(--light);
    transition: all 0.55s ease;
  }
  .Dark-theme .lista{
    background: var(--dark);
  }
  .lista a,
  .lista button {
    margin-left: 0;
    display: block;
    margin: 5px 0;
  }
  .lista.open {
    right: 0;
    height: 300px;
    width: 200px;
    border-radius: 30px;
    border: solid 2px var(--secondary-light);
    filter: drop-shadow(2px 2px 10px var(--secondary-light));
  }
  .Home .Main {
    grid-template-columns: repeat(1, 1fr);
    height: calc(90vh - 20px);
    margin-bottom: 0px;
  }
  #ImagemCentral {
    margin: auto !important;
    display: block;
  }
  .info{
    margin-bottom: -100px;
  }
  .lista a, #tema{
    margin-left: 0px !important;
  }
}